.txtLeft {
  text-align: left !important;
}

.txtLeftCursor {
  text-align: left !important;
  cursor: pointer;
  text-decoration: underline;
}

.thead-light {
  position: sticky;
  top: 0;
  /* Set to 0 to stick at the top of the page */
  z-index: 1;
  /* Ensures the header stays above the rest of the content */
}

.thead-light.sticky {
  background-color: #007bff;
  /* New background color when sticky */
  color: white;
  /* Change text color for visibility */
}

.card-header-flex {
  display: flex;
  justify-content: space-between;
  /* Space out the title and the icon */
  align-items: center;
  /* Vertically center both items */
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  /* Align the icon to the right */
}

.icons-style {
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;
}

/* styles.css */
.dropdown-content {
  z-index: 9999; /* Adjust this value as needed */
}

.com-card-height {
  height: 400px;
}

.com-card-body-height {
  max-height: 300px;
  overflow-y: auto;
}
